*{
    margin: 0;
    padding: 0;
}
.gp1{
    min-height: 125vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
}
.gp2{
    min-height: 125vh;
    width: 100%;
    background-color: #F6F8FF;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 100px;
    /* background-color:#F6F8FF;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px; */
}
.gp3{
  min-height: 125vh;
  width: 100%;
  background-color: #FCF8FC;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 100px;
}
.gp4{
  min-height: 125vh;
  width: 100%;
  background: #FFFFFF;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 100px;

}
.gp5{
  min-height: 125vh;
  width: 100%;
  background: #F5F5F5;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 100px;

}
.gp6{
  min-height: 125vh;
  width: 100%;
  background: #F6F8FF;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 100px;
}
.gp7{
  min-height: 150vh;
  width: 100%;
  background: #6A26DA;;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 100px;
}
.ellipse{
  height: 100px;
}
.educate{
  position: absolute;
  top:-300px;
  left:-100px;
height:150px;
}
.social{
position: absolute;
top:440px;
left:578px;
}
.r{
  position: absolute;
  width: 351px;
  height: 56px;
  left:550px;
  top:290px;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  
  /* Set 1 - Color 34 */
  
  color: #FFFFFF;
}
.e{
  position: absolute;
width: 115px;
height: 28px;
top:206px;
left:550px;
font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


/* Set 1 - Color 34 */

color: #FFFFFF;
}
.w{
  position: absolute;
width: 227px;
height: 28px;
top:90px;
left:550px;
font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


/* Set 1 - Color 34 */

color: #FFFFFF;

}

.company{
  position: absolute;
  width: 73px;
  height: 28px;
  top:30px;
  left:100px;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  
  
  /* Set 1 - Color 34 */
  
  color: #FFFFFF;
  
  opacity: 0.7;
}
.v11{
  position: absolute;
  left: 22.92%;
  right: 6.25%;
  top: 6.25%;
  bottom: 0%;
  left:500px;
  /* Set 1 - Color 34 */
  top:120px;
}
.v22{
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 4.17%;
  bottom: 4.17%;
  left:500px;
  top:210px;
}
.v33{
  position: absolute;
  left: 2.08%;
  right: 2.08%;
  top: 10.42%;
  bottom: 43.75%;
  left:500px;
  top:295px;
}
.v44{
  position: absolute;
  left: 2.08%;
  right: 2.08%;
  top: 35.18%;
  bottom: 10.42%;
  top:300px;
  left:500px;
}
.links{
  position: absolute;
  width: 76px;
  height: 28px;
  left:300px;
  top:30px;
  font-family: 'Gilroy-Medium';
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  
  
  /* Set 1 - Color 34 */
  
  color: #FFFFFF;
  
  opacity: 0.7;
}
.details{
  position: absolute;
  width: 117px;
  height: 28px;
top:30px;
  left:500px;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  
  
  /* Set 1 - Color 34 */
  
  color: #FFFFFF;
  
  opacity: 0.7;
}
.text-box{
  box-sizing: border-box;

position: relative;
width: 341px;
height: 70px;
top:-100px;
left:-100px;
/* Set 1 - Color 34 */

background: #FFFFFF;
opacity: 0.2;
/* Set 1 - Color 34 */

border: 2px solid #FFFFFF;
border-radius: 10px;
}
.b7{
  position: absolute;
width: 172px;
height: 70px;
top:-100px;
left: 280px;
/* Set 01 - Color 09 */
color:white;
background: #FF5722;
border-radius: 10px;
}
.copy{
position: absolute;
top:440px;
left:-478px
}
.logologo{
  position: absolute;
left:-350px;
}
.bla1{
  position: absolute;
  top: 125px;
  left: 100px;
}
.bla2{
  position: absolute;
  top: 125px;
  left: 300px;
}
.para{
  position: absolute;
width: 323px;
height: 139px;
left: -360px;
top:150px;
font-family: 'Gilroy-Medium';
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Set 1 - Color 32 */

color: #F8F9FC;

opacity: 0.7;
}
.testimonial{
position: absolute;
top:-130px;
left:390px;
}
.client{
position: absolute;
top:-90px;
left:270px;
}
.b6{
  position: absolute;
width: 229px;
height: 58px;
color:white;
top:360px;
left:370px;
background: linear-gradient(180deg, #7621EC 0%, #221237 132.14%);
border-radius: 50px;
}
.play-text{
  position: absolute;
width: 560px;
height: 229px;
left: 130px;
top: -20px;

font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 24px;
/* or 133% */

text-align: justify;

/* Set 01 - Color 03 */

color: #262729;

opacity: 0.7;
}
.mobile{
position: absolute;
height: 600px;
top: -260px;
left:-600px;
}
.download{
  position: relative;
height: 100px;
top:-200px;
left:250px;
}
.google{
  position: absolute;
height: 100px;
top:250px;
left:250px;
}
.b1{
    /* position: relative;
    width: 180px;
    height: 56px;
    left: 50px;
    top: 656px; */
    position: absolute;
    top: 336px;
    left: -21%;
    width: 180px;
    height: 56px;
    background: linear-gradient(180deg, #FF7F56 0%, #FF5722 100%);
    box-shadow: -12px 12px 50px rgba(255, 87, 34, 0.3);
    border-radius: 50px;
    color:#fff;
}
.b2{
    position: relative;
width: 229px;
height: 56px;
left: -71%;
top: 336px;
color: white;
background: linear-gradient(180deg, #7621EC 0%, #221237 132.14%);
border-radius: 50px;
/* padding: 0% 0% 0% 20% */
}
.b4{
    position: relative;
width: 259.25px;
height: 63.71px;
background: linear-gradient(180deg, #7621EC 0%, #221237 132.14%);
border-radius: 50px;
color: white;
top: 220px;
left:-5%;
}
.p1{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);

    /* text-align: center; */
}
.p2{
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 100%;
    width: 100%; */
    display: flex;
    transform: translate(-50%, -50%);
    /* justify-content: center; */
}
.explore{
position: absolute;
top:-250px;
left:-415px;
}
.our{
position: absolute;
top:-170px;
left:-140px;
}
.formbox{
  position: absolute;
  left: -70%;
  top: -260%;
}
.course1{
position: absolute;

}
.course2{
  position: absolute;
}
.course3{
  position: absolute;
  top:80px;
}
.b5{
  position: absolute;
width: 259.25px;
height: 63.71px;
top:170px;
left:-90px;
background: linear-gradient(180deg, #7621EC 0%, #221237 132.14%);
border-radius: 50px;
color: white;
}
.book{
  position: absolute;
  /* width: 978.13px;
  height: 65.96px; */
  left: -317px;
  top: -210px;
  
  font-family: 'Gilroy-Bold';
  font-size: 54px;
  line-height: 54px;
  /* or 100% */
  
  text-align: center;
  letter-spacing: -1px;
  
  color: #7621EC;
}
.sec{
  position: absolute;
  top:-300px;
  left:-290px;
}
.sec4{
  position: relative;
  height: 500px;
}
.user{
  position: absolute;
  /* width: 24px;
height: 24px; */
left: -30%;
/* background: url(user.png); */

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.line{
  position: absolute;
  width: 667.69px;
height: 0px;

border: 1px solid #E2E4E5;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.v6{
  position: absolute;

/* background: #D5D5D5; */
}
.v7{
  position: absolute;

/* background: #D5D5D5; */
}
.large{
  position: relative;
  width: 731.69px;
  height: 36px;
  left: 1000px;
  /* top: -36px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #242731;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.small{
  position: relative;
  width: 731.69px;
  height: 44px;
  top: 50px;
  left: 63px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 22px;
  /* or 110% */
  
  text-align: center;
  
  color: #575F6E;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.logo{
    position: absolute;
    left: 50px; 
}
.home{
position: absolute;
top: 65px;
right: 928px;
}
.about{
position: absolute;
top: 65px;
right: 772px;;
}
.course{
position: absolute;
top: 65px;
right: 625px;
}
.blog{
position: absolute;
top: 65px;
right: 507px;;
}
.contact{
position: absolute;
top: 65px;
right: 357px;
}
.b3{
position: absolute;
top: 45px;
right:49px;
width: 195.65px;
height: 55.65px;
background: linear-gradient(181.58deg, #7F2CF2 1.34%, #0F1D41 144.28%);
box-shadow: -12px 20px 50px rgba(118, 33, 236, 0.2);
border-radius: 50px;
color: white;
}
.image{
    position: relative;
    /* left:50px; */
    right: 185px;
/* width: 617px;
height: 210px; */
width: 617px;
height: 200px;
font-family: 'Gilroy-Bold';
font-size: 4rem;
line-height: 110%;
/* or 70px */

letter-spacing: -0.02em;

color: #1E1E1E;
}
.text{
    position: absolute;
    width: 560px;
    height: 72px;
    right: 463px;
    top: 240px;
    
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    
    
    /* Set 01 - Color 03 */
    
    color: #262729;
    
    opacity: 0.7;
}
.form{
    position: relative;
width: 605.32px;
height: 327.42px;
/* left: 351.71px;
top: 1384px; */
/* top: 20%; */
left: 5%;
/* background: #FFFFFF;
box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
border-radius: 16px; */
}
.v{
position: absolute;
top: 0px;
left:0px;
height: 125px;
width: 120px;
}
.v1{
position: absolute;
width: 150px;
bottom: 0px;
right: 0px;
}
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    left: 455px;
    top: 4px;
    position: absolute;
  }
   
  /* Style each of the sides
  with a fixed width and height */
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
   
  /* Add animation to the slides */
  .slide-wrapper {
     
  /* Calculate the total width on the
    basis of number of slides */
    width: calc(728px * 4);
   
  /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
  }
   
  /* Set the background color
  of each of the slides */
  .slide:nth-child(1) {
    background-image: url('1 9.png');
  }
   
  .slide:nth-child(2) {
    background: url('zz.jpg');
  }
   
  .slide:nth-child(3) {
    background: url('yy.jpg');
  }
   
  .slide:nth-child(4) {
    background: url('xx.jpg');
  }
   
  /* Define the animation
  for the slideshow */
  @keyframes slide {
     
  /* Calculate the margin-left for
    each of the slides */
    20% {
      margin-left: 0px;
    }
   
    40% {
      margin-left: calc(-728px * 1);
    }
   
    60% {
      margin-left: calc(-728px * 2);
    }
   
    80% {
      margin-left: calc(-728px * 3);
    }
  }
